:root {
  --bg-color: linear-gradient(113.57deg, #D4D5C9 23.42%, #E4E6D9 39.89%, #E4E6D9 39.9%, #C6E3EC 107.94%);
  --header-height: 4rem;
  --sidebar-width: 7.5rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Livvic', sans-serif;
  font-size: 1.25rem;
  color:rgba(12, 8, 4, 0.74);
  background: linear-gradient(113.57deg, #D4D5C9 23.42%, #E4E6D9 39.89%, #E4E6D9 39.9%, #C6E3EC 107.94%);
}

input, button, textarea, select {
  font: inherit;
    font-size: inherit;
}

.fa-solid {
  padding-right: 0.75rem;
}

.colored{
  background-image: linear-gradient(
    to right,
    red,
    yellow,
    green,
    cyan,
    blue,
    magenta,
    red
  ) !important
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

button {
  border: none; 
  cursor: pointer;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}